@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
/* line 1, /home/jaeffong/webzine/letter/app/assets/stylesheets/style.scss */
body {
  margin: 0 auto;
  max-width: 50em;
  color: #566b78;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
}

/* line 10, /home/jaeffong/webzine/letter/app/assets/stylesheets/style.scss */
h2 {
  margin-top: 1em;
  padding-top: 1em;
}

/* line 15, /home/jaeffong/webzine/letter/app/assets/stylesheets/style.scss */
body {
  color: #555;
}

/* line 20, /home/jaeffong/webzine/letter/app/assets/stylesheets/style.scss */
h1,
h2,
strong {
  color: #333;
}

/* line 26, /home/jaeffong/webzine/letter/app/assets/stylesheets/style.scss */
code,
pre {
  background: #eee;
}

/* line 31, /home/jaeffong/webzine/letter/app/assets/stylesheets/style.scss */
code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

/* line 36, /home/jaeffong/webzine/letter/app/assets/stylesheets/style.scss */
pre {
  padding: 1em;
}

/* line 40, /home/jaeffong/webzine/letter/app/assets/stylesheets/style.scss */
a {
  color: #e81c4f;
}

/* line 44, /home/jaeffong/webzine/letter/app/assets/stylesheets/style.scss */
body {
  color: #566b78;
}

/* line 48, /home/jaeffong/webzine/letter/app/assets/stylesheets/style.scss */
code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

/* line 55, /home/jaeffong/webzine/letter/app/assets/stylesheets/style.scss */
pre {
  border-left: 2px solid #69c;
}

/* line 61, /home/jaeffong/webzine/letter/app/assets/stylesheets/style.scss */
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
