<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="links">
    <a href="<%= asset_path("IMG_0842") %>" title="Gallery" data-gallery>

        <%= image_tag("IMG_0842", style: 'display: block; margin: auto; width: 100%;') %>
    </a>
    <a href="<%= asset_path("IMG_0816.JPG") %>" title="Woods" data-gallery>
    </a>
    <a href="<%= asset_path("IMG_0821.JPG") %>" title="Pinocchio" data-gallery>
    </a>
    <a href="<%= asset_path("IMG_1890.jpg") %>" title="Sea_analog" data-gallery>
    </a>
    <a href="<%= asset_path("IMG_0026.JPG") %>" title="Bubbles" data-gallery>
    </a>
    <a href="<%= asset_path("IMG_0025.JPG") %>" title="Artist_of_Krakow" data-gallery>
    </a>
    <a href="<%= asset_path("IMG_0039.JPG") %>" title="Budapest" data-gallery>
    </a>
    <a href="<%= asset_path("IMG_0197.JPG") %>" title="Malaga_eye" data-gallery>
    </a>
    <a href="<%= asset_path("IMG_0510.JPG") %>" title="Summer_night" data-gallery>
    </a>
    <a href="<%= asset_path("burano.jpg") %>" title="Burano" data-gallery>
    </a>
</div>

<!-- <div style="text-align:center"><h1><strong> LETTER </strong></h1></div> -->
	<%#= stylesheet_link_tag 'stylish-portfolio' %>
	<%#= stylesheet_link_tag 'bootstrap' %>
	<%#= stylesheet_link_tag 'bootstrap.min' %>

<%#= image_tag('IMG_0842.jpg', style: 'display: block; margin: auto; width: 100%;' ) %>
<br>
<div style="text-align:center"> 
<%=link_to image_tag('IMG_1799.jpg',style: 'text_align:left; width:49%;'), posts_wear_path%>
<%=link_to image_tag('IMG_0813.JPG',style: 'text_align:right; width:49%;'), posts_eat_path%>
<br/>
<br>
<%=link_to image_tag('IMG_0826.JPG',style: 'text_align:left; width:49%;'), posts_live_path%>
<%=link_to image_tag('IMG_1797.JPG',style: 'text_align:right; width:49%;'), posts_culture_path%>
</br>
	<!-- <a href="/posts/wear" class="btn-lg btn-danger" role="button">의</a>
	<a href="/posts/eat" class="btn-lg btn-warning" role="button">식</a><br/><br/>
	<a href="/posts/live" class="btn-lg btn-success" role="button">주</a>
	<a href="/posts/culture" class="btn-lg btn-primary" role="button">락</a> -->
<!-- </div>
<br>
<section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">

			<hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="/posts/wear">
                                    <%=link_to image_tag('IMG_1799.JPG',style: 'text_align:left; width:49%;'), posts_wear_path%>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <%=link_to image_tag('IMG_0813.JPG',style: 'text_align:right; width:49%;'), posts_eat_path%>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <%=link_to image_tag('IMG_0826.JPG',style: 'text_align:left; width:49%;'), posts_live_path%>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <%=link_to image_tag('IMG_1797.JPG',style: 'text_align:right; width:49%;'), posts_culture_path%>
                                </a>
                            </div>
                        </div>
                    </div>-->
<br>
<% if user_signed_in?%>
	<% if current_user.is_editor %>

		<div style="text-align:right" class="btn-lg-group">
		<a href="/posts/new" class="btn btn-info" role="button">새 글</a>
		<a href="/posts" class="btn btn-info" role="button">최신글</a>
		</div>
	<% else%> 
		<div style="text-align:right">
		<a href="/posts" class="btn btn-info" role="button">최신글</a>
		</div>
	<% end %>
<% else %>
	<div style="text-align:right">
		<a href="/posts" class="btn btn-info" role="button">최신글</a>
		</div>
<% end %>