
<%= simple_form_for @post do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %> <br />
	<%= f.input :image, as: :file %>
	<%= f.label :content %>
		<%= f.input :season, collection: Post.seasons.keys, input_html: { :style => 'width: 100px'}%>
		<%= f.input :category, collection: Post.categories.keys, input_html: { :style => 'width: 100px'} %>
  		<%= f.cktext_area :content, class: 'someclass', ckeditor: {uiColor: '#ffecb3', language: 'en'}%>
  <%#= form.cktext_area :content, value: 'Default value', id: 'sometext'%>
  <%#= cktext_area :content, :info, cols: 40, ckeditor: { uiColor: '#AADC6E', toolbar: 'mini' }%>
  		<%= f.submit class: "btn btn-default" %>
<% end %>