<!-- <h1>글 목록</h1>
 -->
<table class="table table-striped">
	<thead>
		<tr>
			<!-- <th>제목</th>
			<th>편집</th>
			<th>자세히보기</th> -->
		</tr>
	</thead>
	<tbody>
		<% @posts.each do |post| %>
				<tr>

						<!-- <td style="background-image: <%= asset_url('a') %>; background-color: #FF00FF;"><%= post.title %></td> -->
						<td><%=link_to post.title, post %></td>
						<!-- <td><%=link_to "편집", edit_post_path(post) %></td>
						<td><%= link_to "자세히 보기", post %></td>
						<td><%= link_to "delete", post_path(post), method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
 				</tr>
		<% end %>
	</tbody>
</table>
<br>
<% if user_signed_in? %>
	<% if current_user.is_editor %>
	<div style="text-align:right">
	<a href="/posts/new" class="btn btn-info" role="button">새 글</a>
	<%end%>
<%end%>