
  <h3 style = "text-align:center"><%= @post.title %></h3>
  <h5 style = "text-align:right"><%= @post.created_at %></h5>
</p>
<p><%= @post.content.html_safe %></p>
<% if user_signed_in? && current_user.is_editor%>
		<div style = "text-align:right"> <%= link_to '편집', edit_post_path(@post) %> |
			<% if @post.category == 'wear' %>
				<%= link_to "목록", wear_posts_path %>
			<% elsif @post.category == 'eat' %>
				<%= link_to "목록", eat_posts_path %> 
			<% elsif @post.category == 'culture' %>
				<%= link_to "목록", culture_posts_path %> 
			<% elsif @post.category == 'live' %>
				<%= link_to "목록", live_posts_path %>
			<%end%>
			|<%= link_to '삭제', @post, :confirm => 'Are you sure?', :method => :delete %>
		</div>
<% else %> <div style = "text-align:right"> 
		<% if @post.category == 'wear' %>
			<%= link_to "목록", wear_posts_path %> 
		<% elsif @post.category == 'eat' %>
			<%= link_to "목록", eat_posts_path %> 
		<% elsif @post.category == 'culture' %>
			<%= link_to "목록", culture_posts_path %> 
		<% elsif @post.category == 'live' %>
			<%= link_to "목록", live_posts_path %> 	
		<%end%> 
		</div>
<%end%>
