<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">letter</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "로그인", new_user_session_path %></li>
          
        <% end %>
      </ul>

       <!-- <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag(current_user.image, size: '20x20', style:'border-radius:3px;vertical-align:top;') if current_user.image %>
              <%= current_user.name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "My Profile", edit_user_registration_path %></li>
              
            </ul>
          </li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in
             <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "with Auth Blog", new_user_session_path %></li>
              <li><%= link_to "with Facebook", user_facebook_omniauth_authorize_path(:facebook) %></li>
            </ul>
          </li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <p><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?" }, class: 'btn btn-default'%></p>
      <% else %>
        <p><%= link_to "로그인", new_user_session_path, class: 'btn btn-default' %></p>
        <p><%= link_to "페이스북으로 로그인", user_facebook_omniauth_authorize_path(:facebook) %></p>
      <% end %>  -->

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
