<!DOCTYPE html>
<html>
  <head>
    <title>Letter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application','style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style="text-align:center"><%=link_to image_tag('letter.jpg',style: 'width:20%; padding: 1em 1em;'), root_path %></div>

	<%= render 'layouts/navbar' %>

    <%= yield %>
  </body>
</html>