<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>
<div id="links">
  <a href=="<%= asset_path("portfolio-1") %>" title="Photo 1">
     <%= image_tag("portfolio-1") %>
  <a href="images/photo2.jpg" title="Photo 2">
    <img src="images/thumb_photo2.jpg" alt="Photo 2">
  </a>
  <a href="images/photo3.jpg" title="Photo 3">
    <img src="images/thumb_photo3.jpg" alt="Photo 3">
  </a>
</div>
<!-- 
<div id="links">
    <a href="<%= asset_path("portfolio-1") %>" title="1" data-gallery>
        <%= image_tag("portfolio-1") %>
    </a>
    <a href="<%= asset_path("portfolio-2") %>" title="1" data-gallery>
    </a>
    <a href="<%= asset_path("portfolio-3") %>" title="1" data-gallery>
    </a>
</div> -->

<script>
document.getElementById('links').onclick = function (event) {
  event = event || window.event;
  var target = event.target || event.srcElement,
    link = target.src ? target.parentNode : target,
    options = {index: link, event: event},
    links = this.getElementsByTagName('a');
  blueimp.Gallery(links, options);
};
</script>